@{
    ViewBag.Title = "Hem";
}

<div class="jumbotron">
    <h1>Exempelapplikation</h1>
    <p class="lead">Exempelapplikation, att hämta inspiration ifrån vid bygge av nya webbapplikationer med HTML, CSS och JavaScript.</p>
</div>
