<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPersonService" />
                <binding name="BasicHttpBinding_ICourseService" />
                <binding name="BasicHttpBinding_IHemortService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57583/PersonService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonService"
                contract="PersonServiceTier.IPersonService" name="BasicHttpBinding_IPersonService" />
            <endpoint address="http://localhost:57583/CourseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICourseService"
                contract="CourseServiceTier.ICourseService" name="BasicHttpBinding_ICourseService" />
            <endpoint address="http://localhost:57583/HemortService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHemortService"
                contract="HemortServiceTier.IHemortService" name="BasicHttpBinding_IHemortService" />
        </client>
    </system.serviceModel>
</configuration>